.hero {
    background-image: url(./h.jpg-264cc29e.thumb);
    background-position: 70% 80%;
    background-size: cover;
    height: 90vh
}

h1,
h3,
p,
img {
    cursor: pointer
}

.options-a {
    background-image: url(./bg2a-7cc88442.webp);
    background-position: center;
    background-size: cover
}

.options-b {
    background-image: url(./bg2b-dedf1682.webp);
    background-position: center;
    background-size: cover
}

button:hover {
    opacity: .9;
    border: 2px solid rgba(130, 130, 130, .356)
}

img {
    transition: all .3s ease-in-out
}

img:hover {
    transform: scale(104%) !important
}

.cart-1:hover button {
    background-color: #000;
    color: #fff
}